#Ignore the env (python virtual enviornment) directory
env/
__pycache__/
/.pytest_cache
testEnv.sh
testEnvWin.ps1
.env
app/module_airservice/triangulation.pkl
docker-compose.yml
Dockerfile
/venv
migrations/
