alembic==1.7.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
cycler==0.11.0
Flask==1.1.4
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
fonttools==4.31.2
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.4.0
Mako==1.2.0
MarkupSafe==2.0.1
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
psycopg2-binary==2.9.3
pyparsing==3.0.7
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
urllib3==1.26.9
Werkzeug==1.0.1
zipp==3.7.0
