alembic==1.7.7
click==7.1.2
Flask==1.1.4
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.2.0
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
SQLAlchemy==1.4.32
Werkzeug==1.0.1
zipp==3.7.0
